.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: max-content;
    min-height: max-content;
    padding: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 10px 34px 5px rgba(225, 223, 223, 0.75);
    flex: 1;
    min-width: 200px;
    min-height: 300px;
    max-width: 30%;
    width: 30%;
    border-radius: 4px;
}

.card img {
    width: 150px;
    height: 150px;
}

.prod_name {
    margin-bottom: 0;
    padding-bottom: 0;
}

.prod_price {
    color: blue;
}

.card button {
    padding: 2%;
    width: 40%;
    border-radius: 4px;
    border: 1px solid rgba(112, 112, 223, 0.4);
    color: rgb(8, 8, 109);
    font-weight: 400;
}

.card button:focus {
    border: 1px solid rgba(112, 112, 223, 1);
    outline: 0;
    font-weight: 500;
}