.cart_item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    padding: 10px;
}

.cart_item__img {
    flex: 0.3;
}

.cart_item__info {
    text-align: center;
    flex: 1;
    margin: 0 5% 0 5%;
}

.cart_item__count {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex: 0.3;
}

.cart_item__price {
    font-size: 22px;
    width: 12%;
    flex: 0.5;
    text-align: center;
}

.cart_item__info h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.cart_item__info p {
    font-size: 18px;
    opacity: 0.5;
    margin-top: 0;
}


.cart_item__count_minus,
.cart_item__count_plus {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    padding: 0;
}

.cart_item__count_minus svg,
.cart_item__count_plus svg {
    display: block;
    width: 100%;
    height: 100%;
}

.cart_item__count_minus line,
.cart_item__count_plus line,
.cart_item__remove_item line {
    stroke: #424F59;
    transition: stroke 300ms ease-in-out;
}

.cart_item__count_minus circle,
.cart_item__count_plus circle,
.cart_item__remove_item circle {
    stroke: #424F59;
    transition: fill 300ms ease-in-out;
}

.cart_item__count_minus:hover line,
.cart_item__count_plus:hover line,
.cart_item__remove_item:hover line {
    stroke: #FFFFFF;
}

.cart_item__count_minus:hover circle,
.cart_item__count_plus:hover circle,
.cart_item__remove_item:hover circle {
    cursor: pointer;
    stroke: #4b5b67;
    fill: #4b5b67;
}

.cart_item__count b {
    font-size: 22px;
}

.cart_item__count_minus:disabled {
    opacity: 0.4;
    transform: none;
}

.cart_item__count_minus:active circle,
.cart_item__count_plus:active circle,
.cart_item__remove_item:active circle {
    fill: #3c474f;
    transform: translateY(2px);
}

.cart_item__remove_item {
    transform: rotate(45deg);
    flex: 1;
}